﻿@{
    ViewBag.Title = "Index";
}

<h2>Hello World!</h2>
@Html.ActionLink("ACR ID Login", "AcrConnectLogin", "Authentication")
<div>
    @Html.Label(@Request.GetOwinContext().Authentication.User.Identity.IsAuthenticated ? @Request.GetOwinContext().Authentication.User.Identity.Name??"null" : "Not Authenticated")
</div>

