﻿@{
    ViewBag.Title = "Index";
}

<h2>Hello World!</h2>
@Html.ActionLink("ACR ID Login", "AcrConnectLogin", "Authentication")
<div>
    Refresh Token: @SecureTokenStorage.RefreshToken
</div>

@Html.ActionLink("Get Access Token", "GetAccessToken", "ExternalService")
<div>
    Access Token: @SecureTokenStorage.AccessToken
</div>


@Html.ActionLink("Call External Service", "CallService", "ExternalService")
<div>
    Result: @SecureTokenStorage.ExternalServiceCallResult
</div>

